.BitcoinPrice {
    margin-top:5rem;
}

input {
    min-width: 5em;
    border-radius: 25px;
    height: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
}

label {
    min-width: 5em;
}


[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}